  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="carousel-background"><img src="assets/img/bg.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>EpicFive</span></h2>
                <p class="animate__animated animate__fadeInUp">The best gacha game of this minor. Unmatched in its class. Best pull rates for the lowest cost!</p>
                <a class="nav-link" aria-current="page" class="btn-get-started animate__animated animate__fadeInUp scrollto" routerLink="/pull">Start pulling today</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- End Hero --> 